ul.filter {
    list-style-type: none;
    padding-left: 0px;
}

ul.filter li {
    display: inline;
}

.error {
    color: red;
}

textarea {
    width: 200px;
    height: 50px;
    display: block;
}


.userName {
    width: 200px;
}
