.test {
  background-color: brown;
}

.userList li div {
    background-color: red;
}

.otherStuff * {
    color: rgba(199, 199, 199, 0.36)
}

.otherStuff ul {
    list-style-type: none
}

.questionAskee {
    color: lightgray;
}
